# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Miscellaneous
.DS_Store
Thumbs.db

# OS-specific files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# IDEs and Editors
# VS Code
.vscode/
*.code-workspace

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Sublime Text
*.sublime*

# Emacs
*~
.*.swp
.*.swo

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Others
*.pyc
*.pyo
*.pyd
*.class

# Tests
coverage/

# Build
dist/
build/

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional yarn cache directory
.yarn/cache

# Optional eslint cache
.eslintcache
