table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* Estilos para los botones */
  .btnEliminar {
    background-color: #717F7D;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .btnEliminar:hover {
    background-color: #c82333;
  }
  
  .btnEditar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .btnEditar:hover {
    background-color: #0056b3;
    
  }

  p{
    color: #3C53A2;
  }